# .gitignore

# Dependencies
# --------------------
node_modules/

# General rules to ignore certain file types
# --------------------
!structure.txt
config/*.json
!/package.json
!/package-lock.json

# IDE & OS files
# --------------------
.vscode/
.idea/
.DS_Store
