.header {
  position: fixed;
  width: 95%; 
  max-width: 434px;

  margin: 1rem auto; 
  
  background-color: #ffffff;
  box-shadow: 0 16px 48px #E3EBFB;
  padding: 0.75rem; 
  border-radius: 20px;
  z-index: 1000;

  transform: none; 
}

.header nav {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 100%;
  gap: 10px;
}

.header nav a {
  font-family: 'Inter', sans-serif;
  font-size: 10px; 
  font-weight: 700;
  letter-spacing: 0.5px; 
  color: #964E50;
  text-decoration: none;
  white-space: nowrap; 
  padding: 0.5rem 0.6rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.header nav a:hover,
.header nav a.active {
  background-color: #964E50;
  color: #ffffff
}


@media (min-width: 600px) {
  .header {
    left: 50%;
    right: auto; 
    transform: translateX(-50%);
    padding: 1rem; 
  }

  .header nav {
    gap: 65px; 
    justify-content: center;
  }

  .header nav a {
    font-size: 10.8px;
    letter-spacing: 0.87px;
    padding: .5rem;
  }
}